<div class="container {{themeService.theme.value}} mt-2" *ngIf="isLoading; else preloader">
  <ul class="nav nav-pills justify-content-between">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filters</a>
      <div class="dropdown-menu">
        <div [formGroup]="formForQuestion" class="d-flex flex-column">
          <label class="dropdown-item">
            <input type="radio" checked formControlName="questions" value="all" (click)="selectQuestions('all')">
            All
          </label>
          <label class="dropdown-item">
            <input type="radio" formControlName="questions" value="unanswered" (click)="selectQuestions('unanswered')">
            Unanswered
          </label>
          <label class="dropdown-item">
            <input type="radio" formControlName="questions" value="solved" (click)="selectQuestions('solved')">
            Solved
          </label>
          <label *ngIf="firebaseService.isAdmin" class="dropdown-item">
            <input type="radio" formControlName="questions" value="toApprove" (click)="selectQuestions('toApprove')">
            To Approve
          </label>
          <label *ngIf="!firebaseService.isAdmin" class="dropdown-item">
            <input type="radio" formControlName="questions" value="myQuestions" (click)="selectQuestions(userName,userName)">
            My Questions
          </label>
        </div>
        <div class="dropdown-divider"></div>
          <div [formGroup]="formForCategories" class="d-flex flex-column"  >
            <label formArrayName="category" class="dropdown-item" *ngFor="let item of categoryFormArray.controls; let i = index">
              <input type="checkbox" formControlName="{{i}}" [name]="categoryList[i].name" (change)="filterByCategory($event)">
              {{categoryList[i].name}}
            </label>
          </div>
        <div class="dropdown-divider"></div>
        <div [formGroup]="formForTime" class="d-flex flex-column">
          <label class="dropdown-item">
            <input type="radio"  formControlName="time" value="forTheDay" (click)="filterForATime(1)">
            For the day
          </label>
          <label class="dropdown-item">
            <input type="radio" formControlName="time" value="forTheWeek" (click)="filterForATime(7)">
            For the week
          </label>
          <label class="dropdown-item">
            <input type="radio" formControlName="time" value="forTheMonth" (click)="filterForATime(30)">
            For the month
          </label>
          <label class="dropdown-item">
            <input type="radio" formControlName="time" value="forTheAllTime" (click)="selectQuestions('solved')">
            For all time
          </label>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="button" (click)="clearAllFilters()"><i class="fas fa-times"></i> Clear All</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" role="button" (click)="sort()">Sort </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" role="button" (click)="changeMarkUpView('tiled')">Tiled</a>
        <a class="dropdown-item" role="button" (click)="changeMarkUpView('linear')">Linear</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item disabled" href="#">Color theme:</a>
        <a class="dropdown-item" role="button" *ngFor="let theme of themesList" (click)="changeTheme(theme.name)">{{theme.name}}</a>
      </div>
    </li>
  </ul>
  <div class="row  row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3"  *ngIf="isLinear === false; else linear">
    <div *ngFor="let question of filteredList | filterByCategory: selectedCategory | filterForATime: timeForFilter" class="col mb-4">
      <div  class="card text-center d-flex" >
        <div class="card-body">
          <a class="text-dark text-decoration-none" role="button" (click)="setCurrentQuestion(question)">
            <h5 class="card-title">{{question.title}}</h5>
          </a>
          <hr>
          <a class="card-link" role="button" (click)="filterByCategory(undefined, tag)" *ngFor="let tag of question['category']">{{tag}}</a>
        </div>
        <div class="card-footer text-muted text-monospace text-center">
          <small>{{question.date | date:'dd.MM.yyy'}}</small>
        </div>
      </div>
<!--      <ng-template #adminTiled>-->
<!--        <div class="card text-center d-flex ">-->
<!--          <div class="card-body">-->
<!--            <a class="text-dark text-decoration-none" role="button" (click)="setCurrentQuestion(question)">-->
<!--              <h5 class="card-title">{{question.title}}</h5>-->
<!--            </a>-->
<!--            <hr>-->
<!--            <a class="card-link" role="button" (click)="filterByCategory(undefined, tag)" *ngFor="let tag of question['category']">{{tag}}</a>-->
<!--          </div>-->
<!--          <div class="card-footer text-muted text-monospace text-center">-->
<!--            <small>{{question.date | date:'dd.MM.yyy'}}</small>-->
<!--          </div>-->
<!--        </div>-->

<!--      </ng-template>-->
    </div>
  </div>
</div>
<ng-template #preloader>
  <div class="d-flex justify-content-center mt-2">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
<ng-template #linear>
  <div class="d-flex flex-column">
    <div *ngFor="let question of filteredList" class="col mb-4">
      <div  class="card  d-flex ">
        <div class="card-body">
          <a class="text-dark text-decoration-none" role="button" (click)="setCurrentQuestion(question)">
            <h5 class="card-title">{{question.title}}</h5>
          </a>
          <hr>
          <div>
            <a class="card-link" role="button" (click)="filterByCategory(undefined, tag)"  *ngFor="let tag of question['category']">{{tag}}</a>
          </div>
        </div>
        <div class="card-footer text-muted text-monospace justify-content-between d-flex">
          <div>
            {{question.author}}
          </div>
          <small>{{question.date | date:'dd.MM.yyy'}}</small>
        </div>
      </div>
<!--      <ng-template #adminLinear>-->
<!--        <div class="card  d-flex ">-->
<!--          <div class="card-body">-->
<!--            <a class="text-dark text-decoration-none" role="button" (click)="setCurrentQuestion(question)">-->
<!--              <h5 class="card-title">{{question.title}}</h5>-->
<!--            </a>-->
<!--            <hr>-->
<!--              <a class="card-link" role="button" (click)="filterByCategory(undefined, tag)"  *ngFor="let tag of question['category']">{{tag}}</a>-->
<!--          </div>-->
<!--          <div class="card-footer text-muted text-monospace justify-content-between d-flex">-->
<!--            <div>-->
<!--              {{question.author}}-->
<!--            </div>-->
<!--            <small>{{question.date | date:'dd.MM.yyy'}}</small>-->
<!--          </div>-->
<!--        </div>-->
<!--      </ng-template>-->
    </div>
  </div>
</ng-template>
