<div class="container">
  <div class="row  row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
    <div *ngFor="let question of questionsList" class="col mb-4">
      <div  class="card text-center d-flex ">
        <div class="card-body">
          <h5 class="card-title">{{question.title}}</h5>
          <hr>
          <a class="card-link" href="#" *ngFor="let tag of question['tags']">{{tag}}</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{question.date}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
