<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=''>stackOverFlow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div  class="navbar-nav">
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/login']">Login</a>
      <a class="nav-link" routerLinkActive='active' [routerLink]="['/signup']">Sign Up</a>
      <a class="nav-link" [routerLink]="['/']" (click)="logout()">LogOut</a>
    </div>
  </div>
</nav>
<div class="container justify-content-center align-items-center">
  <router-outlet></router-outlet>
</div>

