<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2>Registration</h2>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
          <div *ngIf="form.get('email').invalid && form.get('email').touched">
            <small *ngIf="form.get('email').errors.required">
              The field must not be empty
            </small>

            <small *ngIf="form.get('email').errors.email">
              Invalid email
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <div *ngIf="form.get('password').invalid && form.get('password').touched">
            <small  *ngIf="form.get('password').errors.required">
              The field must not be empty
            </small>

            <small *ngIf="form.get('password').errors.minlength">
              Password must be at least 8 characters
            </small>
          </div>

        </div>
        <div>
          <small>{{error}}</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">>Sign Up</button>
      </form>
    </div>
  </div>
</div>
