
<div class="container mt-4" *ngIf="isLoading; else preloader">
  <div><a class="text-monospace btn btn-link text-decoration-none text-dark" (click)="backToAllQuestions()"><i class="fas fa-arrow-left"></i> Back</a></div>
  <div class="card">
    <div class="card-header d-flex justify-content-between bg-info text-white flex-wrap">
      <div>
        {{currentQuestion.author}}
      </div>
      <div>
        {{currentQuestion.date | date:'HH:MM dd.MM.yyyy'}}
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{currentQuestion.title}}</h5>
      <p class="card-text">{{currentQuestion.text}}</p>
    </div>
    <div class="card-footer text-muted text-monospace d-flex justify-content-between">
      <div>
        <a *ngFor="let category of currentQuestion.category" href="#" class="text-decoration-none">
          {{category}}
        </a>
      </div>
      <div *ngIf="user.userEmail === currentQuestion.author">
        <a class="text-decoration-none " role="button"  (click)="editQuestion(currentQuestion)">Edit</a>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="card mt-2" *ngFor="let key of commentsKeys">
      <div class="card-header" [ngClass]="{'bg-success':currentQuestion.comments[key].right}"> <!-- перенести edit коммент не инпут а текстареа поправить саксес посмотреть тип в эдит-->
        {{currentQuestion.comments[key].author}}
      </div>
      <div class="card-body">
        {{currentQuestion.comments[key].text}}
      </div>
      <div class="card-footer d-flex justify-content-between">
        <div>
          {{currentQuestion.comments[key].date | date:'HH:MM dd.MM.yyyy'}}
        </div>
        <div *ngIf="user.userEmail === currentQuestion.author">
          <input type="checkbox" [checked]="currentQuestion.comments[key].right" (change)="toggleRight($event, key)">
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <h5>Add answer</h5>
      <form [formGroup]="form">
        <div class="form-row">
          <div class="col-lg-12">
            <textarea type="text" class="form-control" placeholder="Your answer" formControlName="comment"></textarea>
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="col-lg-2">
            <input type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="addAnswer()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #preloader>
  <div class="d-flex justify-content-center mt-4">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
